<h1><%= @user.email %>'s Events</h1>

<% @user.created_events.each do |event| %>
  <p><%= event.name %></p>
  <p><%= event.date %></p>
  <p><%= event.description %></p>
<% end %>

<h2>Attended Events</h2>
<% @user.attended_events.each do |event| %>
  <p><%= event.name %></p>
<% end %>

<%= link_to "Home", root_path %>