<h1><%= @user.name %>'s Events</h1>

<% @user.created_events.each do |event| %>
  <p><%= event.name %></p>
  <p><%= event.date %></p>
  <p><%= event.description %></p>
<% end %>

<h2>Attended Events</h2>
  <strong>Past Events</strong>
  <% @user.attended_events.past.each do |event| %>
  <p><%= event.name %></p>
  <% end %>
  <strong>Upcoming Events</strong>
  <% @user.attended_events.upcoming.each do |event| %>
  <p><%= event.name %></p>
  <%end%>
<br>
<%= link_to "Home", root_path %>