<h1><%= @event.name %></h1>
<strong>Date: <%= @event.date %></strong><br>
<strong>Host: <%= @event.creator.name %></strong>
<p><%= @event.description %></p>
<%= link_to "Back", root_path %>

<% if user_signed_in? %>
  <%= link_to "Sign Up", attend_event_path(@event.id) %>
<% end %>

<h2>Event Attendees</h2>

<% @event.attendees.each do |attendee| %>
  <p><%= attendee.name%></p>
<% end %>